<%= render "card/header" %>
<div class="container-fluid p-5">
  <div class="grid">
    <% @clan.cards.each do |card_clan| %>
      <div class="card g-col-md-3 border border-3 border-dark p-3">
      <!-- Checks to see if theres an image on active storage if not, uses images link instead. -->
        <% if card_clan.image.present? %>
          <img src="<%= card_clan.image %>" alt="<%= card_clan.name%> " class="img-fluid">
        <% else %>
        <!-- Checks to see if the image link is valid. If not, uses a image of a card_clan back of card_clanfight vanguard. -->
        <% 
          require 'net/http'
          require 'uri'
          img_url = card_clan.img
          res = Net::HTTP.get_response(URI.parse(img_url))
          img_url = 'https://images.vanguardcard_clan.io/images/assets/card_clanBack.jpg' unless res.code.to_i >= 200 && res.code.to_i < 400
        %>
          <img src="<%=img_url%>" alt="<%= card_clan.name%> " class="img-fluid">
        <% end %>
        <div class="card_clan-body">
          <h5 class="card_clan-text text-center "><%= link_to card_clan.name, card_clan, :class => "text-decoration-none"%></h5>
          <p class="card_clan-text text-center ">Price: $<%= card_clan.price%></p>
          <p class="card_clan-text text-center "><%= card_clan.effect%></p>
        </div>
      </div>
    <% end %>
  </div>


</div>