<%= render "header" %>
<div class="container-fluid p-5">
  <% if flash[:notice] %>
    <p class="text-center alert alert-success"><%= flash[:notice] %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <div class="grid">
    <% @cards.each do |card| %>
      <%= render "card", card: card %>
    <% end %>
  </div>
  <div class="text-center mt-3 mb-3">
    <%= page_entries_info @cards %>
  </div>
  <div class="pagination justify-content-center">
    <%= paginate @cards, window: 2%>
  </div>
</div>
