<%= render "header" %>
<div class="container-fluid">
  <div class="row">
    <div class="column-margin col-lg-9 mx-auto p-2">
      <h1 class="fw-bold">Card Information</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb pt-3">
          <li class="breadcrumb-item"><a class="text-decoration-none" href="<%= homepage_path %>">Home</a></li>
          <li class="breadcrumb-item"><a class="text-decoration-none" href="<%= clans_path %>">Clan</a></li>
          <li class="breadcrumb-item"><%=link_to @card.card_clan.name, clan_path(@card.card_clan), :class => "text-decoration-none" %></li>
          <li class="breadcrumb-item active" aria-current="page"><%=@card.name%></li>
        </ol>
      </nav>
      <hr class="mt-3">
    </div>
  </div>
  <div class="card mb-1 mx-auto p-3" style="max-width: 75%;">
    <div class="row g-0">
      <div class="col-md-4 ps-2">
        <% if @card.image.present? %>
          <%= image_tag @card.image.variant(resize_to_limit: [328, 482]).processed, :alt => @card.name, :class => "img-fluid" %>
        <% else %>
          <% 
          require 'net/http'
          require 'uri'
          img_url = @card.img
          res = Net::HTTP.get_response(URI.parse(img_url))
          img_url = 'https://images.vanguardcard.io/images/assets/CardBack.jpg' unless res.code.to_i >= 200 && res.code.to_i < 400
        %>
          <img src="<%=img_url%>" alt="<%= @card.name%> " class="img-fluid">
        <% end %>
      </div>
      <div class="col-md-8 pe-2 text-center">
        <div class="card-body">
          <h5 class="card-title"><%= @card.name%></h5>
          <p><i class="card-text">"<%= @card.flavor %>"</i></p>
          <p class="card-text text-decoration-none">Clan: <%= link_to @card.card_clan.name, clan_path(@card.card_clan) %></p>
          <p class="card-text">Power: <%= @card.power %></p>
          <p class="card-text">Shield: <%= @card.shield %></p>
          <p class="card-text">Effect: <%= @card.effect %></p>
          <b><h4 class="card-text">Price: <%=number_to_currency @card.price %></h4></b>
          <%= form_with url: cart_index_path, method: :post do%>
            <%= hidden_field_tag(:id, @card.id)%>
            <%= button_tag 'Add to Cart', :class => "btn btn-outline-success shadow-sm mt-5 w-100 fw-bold text-uppercase" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
